.card {
  align-items: center;
  border-bottom: 1px solid #e1e5eb;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
}

audio {
  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 438px;
}

.cardAudioSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.musicName {
  align-items: center;
  color: #001813;
  display: flex;
  font-size: 22px;
  font-weight: 500;
  height: 40px;
  width: 200px;
}
