:root {

  --dark-green: #023031;

  --light-gray: rgb(225, 229, 235);

  --gray1: rgb(62, 66, 75);

}

.flex-container-v {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  margin: 50px auto;
}

.input {
  border: 1px solid var(--dark-green);
  border-radius: 15px;
  color: var(--dark-green);
  font-size: 1.5rem;
  height: 50px;
  margin: 15px;
  min-width: 230px;
  width: 33%;
}

.textarea {
  border: 1px solid var(--dark-green);
  border-radius: 15px;
  color: var(--dark-green);
  font-size: 1.5rem;
  height: 150px;
  margin: 15px;
  resize: none;
  width: 33%;
}

.button {
  background-color: var(--dark-green);
  border-radius: 15px;
  color: var(--light-gray);
  cursor: pointer;
  font-size: 1.5rem;
  height: 50px;
  padding: 5px 10px;
}

.button:disabled {
  background-color: var(--light-gray);
  color: var(--gray1);
  cursor: not-allowed;
}
