.profile-sect {
  background-color: #023031;
  border: 1px solid #023031;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(62, 66, 75);
  color: rgb(225, 229, 235);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px auto 0;
  margin-bottom: 80px;
  max-width: 50%;
  min-height: 70vh;
  padding: 50px;
  width: 500px;
}

.img-sect {
  border: 1px solid #023031;
  border-radius: 15px;
  height: 200px;
  margin-bottom: 30px;
  width: 200px;
}

.profile-image {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.link-edit {
  color: rgb(225, 229, 235);
  font-size: 1.3rem;
  text-decoration: none;
}

.link-edit:hover {
  color: rgb(15, 206, 110);
}

.profile-title {
  font-size: 1.5rem;
}

.profile-content {
  font-size: 1.3rem;
}
